//NAV STYLES 

a.navbar-brand {
    font-family: $stack-mogra;
    // text-shadow: $secondary-color 0.3em 0.3em 0.3em;
    // color      : $hover-color;
    display    : inline;
    font-size  : 30px;
}

.nav {
    font-family: $stack-roboto;
}
