<div class="container">
    <h1>Registration</h1>

    <form ng-submit="auth.register.submit()" style="margin-top:30px;">
        <h3>Register</h3>

        <div class="form-group">
            <input type="text" class="form-control" placeholder="Name" ng-model="auth.payload.name">
        </div>

        <div class="form-group">
            <input type="text" class="form-control" placeholder="Email" ng-model="auth.payload.email">
        </div>

        <div class="form-group">
            <input type="password" class="form-control" placeholder="Password" ng-model="auth.payload.password">
        </div>

        <button type="submit" class="btn btn-primary">Register</button>
    </form>
</div>
