<!DOCTYPE html>
<html ng-app="module.login">

<head>
    <meta charset="utf-8">
    <title>LearnBank</title>
    <!--CSS-->
    <script src="//cdnjs.cloudflare.com/ajax/libs/jquery/3.1.1/jquery.js"></script>
    <link rel="stylesheet" href="//cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.css" />
    <link rel="stylesheet" href="//cdn.jsdelivr.net/alertifyjs/1.8.0/css/alertify.min.css" />
    <link href="https://maxcdn.bootstrapcdn.com/bootswatch/3.3.7/cosmo/bootstrap.min.css" rel="stylesheet" integrity="sha384-h21C2fcDk/eFsW9sC9h0dhokq5pDinLNklTKoxIZRUn3+hvmgQSffLLQ4G4l2eEr" crossorigin="anonymous">
    <!--BOOSTRAP-->
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="//cdn.jsdelivr.net/alertifyjs/1.8.0/css/themes/bootstrap.min.css" />
    <link rel="stylesheet" href="//cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/3.3.7/css/bootstrap.css" />
    <!-- <link rel="stylesheet" href="/assets/css/style.css"> -->
    <!--ANGULAR DEPENDICES-->
    <script src="//cdnjs.cloudflare.com/ajax/libs/angular.js/1.5.8/angular.min.js"></script>
    <script src="//cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/3.3.7/js/bootstrap.js"></script>
    <script src="//cdn.jsdelivr.net/alertifyjs/1.8.0/alertify.min.js"></script>
    <script src="/login/module.login.js"></script>
</head>

<body ng-controller="loginCtrl as login">
    <!--LOGIN FORM-->
    <h1 class="text-center">
          <a href="/">LearnBank</a>
    </h1>

    <form class="form-horizontal" ng-submit="login.login.submit()">
        <fieldset>
            <legend class="text-center">LOGIN</legend>

            <div class="form-group">
                <label for="inputEmail" class="col-lg-2 control-label">Email</label>
                <div class="col-lg-10">
                    <input type="text" class="form-control" id="inputEmail" placeholder="Email" ng-model="login.payload.email">
                </div>
            </div>

            <div class="form-group">
                <label for="inputPassword" class="col-lg-2 control-label">Password</label>
                <div class="col-lg-10">
                    <input type="password" class="form-control" id="inputPassword" placeholder="Password" ng-model="login.payload.password">
                </div>
            </div>

            <div class="form-group">
                <div class="col-lg-10 col-lg-offset-2">
                    <button class="btn btn-default" type="submit">LOG IN</button>
                    <!-- <a class="text-center recover" href="/views/forgot.html">Recover Password</a><hr> -->
                    <a href="/#/register">
                        <h5 class="registerredirect">Haven't registered? Sign up for a account</h5>
                    </a>
                </div>
            </div>
        </fieldset>
    </form>

</body>

</html>
