<h1 class="text-center">Add your favorite resources to your vault!</h1>

<div class="container">

    <div class="table-responsive">
        <table class="table users">
            <thead>
                <tr> Add Resources</tr>
            </thead>
            <tbody>
                <tr class="separator">

                    <td class="input">
                        <input type="text" class="form-control" placeholder="Website" ng-model="vault.payload.websites">
                        <button class="btn btn-xs" ng-click="vault.addwebsite.submit()">
                            <span class="glyphicon glyphicon-plus"></span>
                        </button>
                    </td>

                    <td class="input">
                        <input type="text" class="form-control" placeholder="Podcast" ng-model="vault.payload.podcasts">
                        <button class="btn btn-xs" ng-click="vault.addpodcast.submit()">
                            <span class="glyphicon glyphicon-plus"></span>
                        </button>
                    </td>

                    <td class="input">
                        <input type="text" class="form-control" placeholder="Book" ng-model="vault.payload.books">
                        <button class="btn btn-xs" ng-click="vault.addbook.submit()">
                            <span class="glyphicon glyphicon-plus"></span>
                        </button>
                    </td>

            </tbody>
        </table>
    </div>

</div>
