<div class="container">
    <h1 class="text-center">Your Vault: {{vault.data.username}}</h1>
    <ul>
        <li ng-repeat="podcast in vault.data.podcasts">{{podcast}}
        <i class="fa fa-trash-o fa-lg" ng-click="vault.deletePodcast($index)"></i>
        </li>
    </ul>

    <!-- <ul ng-repeat="book in vault.data.books">
        <li ng-repeat="(bo, ok) in book">Books: {{ok}}</li>
        <i class="fa fa-trash-o fa-lg" ng-click="vault.deleteBook($index)"></i>
    </ul>

    <ul ng-repeat="website in vault.data.websites">
        <li ng-repeat="(web, site) in website">Websites: {{site}}</li>
        <i class="fa fa-trash-o fa-lg" ng-click="vault.deleteWebsite($index)"></i>
    </ul> -->
</div>
